.error{
    color: red;
}

.success{
    color:green;

}

h3{
    font-weight: bold;
    color: rgb(18, 18, 145);
}   

button{
    background-color:rgb(78, 141, 196);
    border-color: rgb(78, 141, 196);
    height: 26px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

ul{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}